In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Resources/certified_denied.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 1,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_ELAPSED_DAYS,DECISION_ELAPSED_YEARS,EMPLOYER_NAME,EMPLOYER_CITY,...,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER,DECISION_DATE_YEAR,DECISION_DATE_MONTH,CASE_RECEIVED_DATE_YEAR,CASE_RECEIVED_DATE_MONTH
0,NaN,25,A-14246-03533,2015-06-22,Certified,2014-12-19,185,0.506849,"CITRIX SYSTEMS, INC.",FORT LAUDERDALE,...,1973-03-30 00:00:00,CHINA,CHINA,H-1B,Master's,NaN,2015,6,2014.0,12.0
1,NaN,28,A-14198-89806,2015-04-06,Certified,2014-07-18,262,0.717808,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,COLLEGE STATION,...,75063,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,4,2014.0,7.0
2,NaN,35,A-14222-96825,2015-06-24,Certified,2014-12-11,195,0.534247,SAT SOLUTIONS LLC,MONROE,...,75001,INDIA,INDIA,H-1B,Bachelor's,NaN,2015,6,2014.0,12.0
3,NaN,61,A-13216-85505,2015-05-29,Certified,2013-08-05,662,1.813699,"KOCH FOODS OF ALABAMA, LLC",MONTGOMERY,...,210001,CHINA,CHINA,NaN,Associate's,NaN,2015,5,2013.0,8.0
4,NaN,63,A-13179-76467,2015-04-20,Certified,2013-06-28,661,1.810959,FARROKH ERFAN,GAITHERSBURG,...,NaN,IRAN,IRAN,NaN,Bachelor's,NaN,2015,4,2013.0,6.0

In [4]:
data2 = data.loc[data['COUNTRY_OF_CITIZENSHIP'] == 'CANADA']

In [5]:
data2['COUNTRY_OF_CITIZENSHIP'].value_counts()

CANADA    8416
Name: COUNTRY_OF_CITIZENSHIP, dtype: int64

In [6]:
data3 = data2.loc[data2['WAGE_OFFER_UNIT_OF_PAY_9089'] == 'Year']

In [7]:
data3['WAGE_OFFER_UNIT_OF_PAY_9089'].value_counts()

Year    8255
Name: WAGE_OFFER_UNIT_OF_PAY_9089, dtype: int64

In [8]:
data3.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'CASE_NUMBER', 'DECISION_DATE',
       'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_ELAPSED_DAYS',
       'DECISION_ELAPSED_YEARS', 'EMPLOYER_NAME', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_NUM_EMPLOYEES',
       'AGENT_FIRM_NAME', 'AGENT_CITY', 'AGENT_STATE', 'PW_SOC_CODE',
       'PW_SOC_TITLE', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089',
       'WAGE_OFFER_UNIT_OF_PAY_9089', 'JOB_INFO_WORK_CITY',
       'JOB_INFO_WORK_STATE', 'JOB_INFO_WORK_POSTAL_CODE',
       'JOB_INFO_JOB_TITLE', 'JOB_INFO_EDUCATION', 'JOB_INFO_EDUCATION_OTHER',
       'FOREIGN_WORKER_INFO_CITY', 'FOREIGN_WORKER_INFO_STATE',
       'FW_INFO_POSTAL_CODE', 'COUNTRY_OF_CITIZENSHIP',
       'FW_INFO_BIRTH_COUNTRY', 'CLASS_OF_ADMISSION',
       'FOREIGN_WORKER_INFO_EDUCATION', 'FW_INFO_EDUCATION_OTHER',
       'DECISION_DATE_YEAR', 'DECISION_DATE_MONTH', 'CASE_RECEIVED_DATE_YEAR',
       'CASE_RECEIVED_DATE_MONTH'],
      dtype='object')

In [9]:
data4 = data3[[
    'CASE_STATUS',
    'DECISION_ELAPSED_DAYS',
    'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_STATE',
    'EMPLOYER_NUM_EMPLOYEES',
    'WAGE_OFFER_FROM_9089',
    'COUNTRY_OF_CITIZENSHIP',
    'CLASS_OF_ADMISSION',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CASE_RECEIVED_DATE_MONTH'
]]

In [10]:
data4.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH
35,Certified,545,80111,COLORADO,154.0,98000.0,CANADA,TN,Associate's,12.0
56,Certified,596,48441,MICHIGAN,17.0,120000.0,CANADA,TN,None,12.0
121,Certified,559,15205,PENNSYLVANIA,106200.0,150000.0,CANADA,Not in USA,Master's,11.0
132,Certified,585,01581,MASSACHUSETTS,28.0,99736.0,CANADA,H-1B,Bachelor's,9.0
148,Certified,556,95110,CALIFORNIA,11238.0,159000.0,CANADA,L-1,Associate's,10.0

In [11]:
states = []

for row in data4['EMPLOYER_STATE']:
    if row == "ME":
        states.append("MAINE")
    elif row == "NH":
        states.append("NEW HAMPSHIRE")
    elif row == "VT":
        states.append("VERMONT")
    elif row == "MA":
        states.append("MASSACHUSETTS")
    elif row == "RI":
        states.append("RHODE ISLAND")
    elif row == "CT":
        states.append("CONNECTICUT")
    elif row == "NY":
        states.append("NEW YORK")
    elif row == "NJ":
        states.append("NEW JERSEY")
    elif row == "PA":
        states.append("PENNSYLVANIA")
    elif row == "DE":
        states.append("DELAWARE")
    elif row == "MD":
        states.append("MARYLAND")
    elif row == "DC":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VA":
        states.append("VIRGINIA")
    elif row == "WV":
        states.append("WEST VIRGINIA")
    elif row == "NC":
        states.append("NORTH CAROLINA")
    elif row == "SC":
        states.append("SOUTH CAROLINA")
    elif row == "GA":
        states.append("GEORGIA")
    elif row == "FL":
        states.append("FLORIDA")
    elif row == "AL":
        states.append("ALABAMA")
    elif row == "TN":
        states.append("TENNESSEE")
    elif row == "TENNESSE":
        states.append("TENNESSEE")
    elif row == "KY":
        states.append("KENTUCKY")
    elif row == "OH":
        states.append("OHIO")
    elif row == "MI":
        states.append("MICHIGAN")
    elif row == "IN":
        states.append("INDIANA")
    elif row == "MS":
        states.append("MISSISSIPPI")
    elif row == "IL":
        states.append("ILLINOIS")
    elif row == "WI":
        states.append("WISCONSIN")
    elif row == "MN":
        states.append("MINNESOTA")
    elif row == "IA":
        states.append("IOWA")
    elif row == "MO":
        states.append("MISSOURI")
    elif row == "AR":
        states.append("ARKANSAS")
    elif row == "LA":
        states.append("LOUISIANA")
    elif row == "ND":
        states.append("NORTH DAKOTA")
    elif row == "SD":
        states.append("SOUTH DAKOTA")
    elif row == "NE":
        states.append("NEBRASKA")
    elif row == "KS":
        states.append("KANSAS")
    elif row == "OK":
        states.append("OKLAHOMA")
    elif row == "TX":
        states.append("TEXAS")
    elif row == "MT":
        states.append("MONTANA")
    elif row == "WY":
        states.append("WYOMING")
    elif row == "CO":
        states.append("COLORADO")
    elif row == "NM":
        states.append("NEW MEXICO")
    elif row == "ID":
        states.append("IDAHO")
    elif row == "UT":
        states.append("UTAH")
    elif row == "AZ":
        states.append("ARIZONA")
    elif row == "WA":
        states.append("WASHINGTON")
    elif row == "OR":
        states.append("OREGON")
    elif row == "NV":
        states.append("NEVADA")
    elif row == "CA":
        states.append("CALIFORNIA")
    elif row == "AK":
        states.append("ALASKA")
    elif row == "HI":
        states.append("HAWAII")
    elif row == "PR":
        states.append("PUERTO RICO")
    elif row == "MP":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VI":
        states.append("VIRGIN ISLANDS")
    elif row == "GU":
        states.append("GUAM")
    elif row == "NEW HAMPSHIRE":
        states.append("NEW HAMPSHIRE")
    elif row == "VERMONT":
        states.append("VERMONT")
    elif row == "MASSACHUSETTS":
        states.append("MASSACHUSETTS")
    elif row == "RHODE ISLAND":
        states.append("RHODE ISLAND")
    elif row == "CONNECTICUT":
        states.append("CONNECTICUT")
    elif row == "NEW YORK":
        states.append("NEW YORK")
    elif row == "NEW JERSEY":
        states.append("NEW JERSEY")
    elif row == "PENNSYLVANIA":
        states.append("PENNSYLVANIA")
    elif row == "DELAWARE":
        states.append("DELAWARE")
    elif row == "MARYLAND":
        states.append("MARYLAND")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("DISTRICT OF COLUMBIA")
    elif row == "VIRGINIA":
        states.append("VIRGINIA")
    elif row == "WEST VIRGINIA":
        states.append("WEST VIRGINIA")
    elif row == "NORTH CAROLINA":
        states.append("NORTH CAROLINA")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH CAROLINA")
    elif row == "GEORGIA":
        states.append("GEORGIA")
    elif row == "FLORIDA":
        states.append("FLORIDA")
    elif row == "ALABAMA":
        states.append("ALABAMA")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "TENNESSEE":
        states.append("TENNESSEE")
    elif row == "KENTUCKY":
        states.append("KENTUCKY")
    elif row == "OHIO":
        states.append("OHIO")
    elif row == "MICHIGAN":
        states.append("MICHIGAN")
    elif row == "INDIANA":
        states.append("INDIANA")
    elif row == "MISSISSIPPI":
        states.append("MISSISSIPPI")
    elif row == "ILLINOIS":
        states.append("ILLINOIS")
    elif row == "WISCONSIN":
        states.append("WISCONSIN")
    elif row == "MINNESOTA":
        states.append("MINNESOTA")
    elif row == "IOWA":
        states.append("IOWA")
    elif row == "MISSOURI":
        states.append("MISSOURI")
    elif row == "ARKANSAS":
        states.append("ARKANSAS")
    elif row == "LOUISIANA":
        states.append("LOUISIANA")
    elif row == "NORTH DAKOTA":
        states.append("NORTH DAKOTA")
    elif row == "SOUTH DAKOTA":
        states.append("SOUTH DAKOTA")
    elif row == "NEBRASKA":
        states.append("NEBRASKA")
    elif row == "KANSAS":
        states.append("KANSAS")
    elif row == "OKLAHOMA":
        states.append("OKLAHOMA")
    elif row == "TEXAS":
        states.append("TEXAS")
    elif row == "MONTANA":
        states.append("MONTANA")
    elif row == "WYOMING":
        states.append("WYOMING")
    elif row == "COLORADO":
        states.append("COLORADO")
    elif row == "NEW MEXICO":
        states.append("NEW MEXICO")
    elif row == "IDAHO":
        states.append("IDAHO")
    elif row == "UTAH":
        states.append("UTAH")
    elif row == "ARIZONA":
        states.append("ARIZONA")
    elif row == "WASHINGTON":
        states.append("WASHINGTON")
    elif row == "OREGON":
        states.append("OREGON")
    elif row == "NEVADA":
        states.append("NEVADA")
    elif row == "CALIFORNIA":
        states.append("CALIFORNIA")
    elif row == "ALASKA":
        states.append("ALASKA")
    elif row == "HAWAII":
        states.append("HAWAII")
    elif row == "PUERTO RICO":
        states.append("PUERTO RICO")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("NORTHERN MARIANA ISLANDS")
    elif row == "VIRGIN ISLANDS":
        states.append("VIRGIN ISLANDS")
    elif row == "GUAM":
        states.append("GUAM")
    else:
        states.append("UNKNOWN")
        
data4['EMPLOYER_STATES'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
data4['EMPLOYER_STATES'].value_counts()

CALIFORNIA              2588
WASHINGTON               978
NEW YORK                 760
TEXAS                    615
MICHIGAN                 360
FLORIDA                  292
ILLINOIS                 283
MASSACHUSETTS            249
NEW JERSEY               216
PENNSYLVANIA             205
NORTH CAROLINA           145
GEORGIA                  144
OHIO                     106
VIRGINIA                 105
CONNECTICUT               93
COLORADO                  93
MINNESOTA                 85
MARYLAND                  75
ARIZONA                   71
WISCONSIN                 67
INDIANA                   60
TENNESSEE                 58
OREGON                    54
MISSOURI                  40
ALABAMA                   40
KANSAS                    32
UTAH                      28
NEVADA                    28
NEW HAMPSHIRE             28
DISTRICT OF COLUMBIA      28
OKLAHOMA                  28
NORTH DAKOTA              26
SOUTH CAROLINA            26
IOWA                      26
KENTUCKY                  23
NEBRASKA                  22
LOUISIANA                 20
HAWAII                    18
IDAHO                     18
NEW MEXICO                17
RHODE ISLAND              16
SOUTH DAKOTA              14
MAINE                     13
ARKANSAS                  11
DELAWARE                   9
VERMONT                    9
UNKNOWN                    7
MONTANA                    7
MISSISSIPPI                6
WEST VIRGINIA              5
WYOMING                    5
ALASKA                     2
PUERTO RICO                1
Name: EMPLOYER_STATES, dtype: int64

In [13]:
data5 = data4.dropna(how='any')

In [14]:
data5.head()

,CASE_STATUS,DECISION_ELAPSED_DAYS,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,WAGE_OFFER_FROM_9089,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,CASE_RECEIVED_DATE_MONTH,EMPLOYER_STATES
35,Certified,545,80111,COLORADO,154.0,98000.0,CANADA,TN,Associate's,12.0,COLORADO
56,Certified,596,48441,MICHIGAN,17.0,120000.0,CANADA,TN,None,12.0,MICHIGAN
121,Certified,559,15205,PENNSYLVANIA,106200.0,150000.0,CANADA,Not in USA,Master's,11.0,PENNSYLVANIA
132,Certified,585,01581,MASSACHUSETTS,28.0,99736.0,CANADA,H-1B,Bachelor's,9.0,MASSACHUSETTS
148,Certified,556,95110,CALIFORNIA,11238.0,159000.0,CANADA,L-1,Associate's,10.0,CALIFORNIA

In [15]:
states = []

for row in data5['EMPLOYER_STATES']:
    if row == "MAINE":
        states.append("NORTHEAST")
    elif row == "NEW HAMPSHIRE":
        states.append("NORTHEAST")
    elif row == "VERMONT":
        states.append("NORTHEAST")
    elif row == "MASSACHUSETTS":
        states.append("NORTHEAST")
    elif row == "RHODE ISLAND":
        states.append("NORTHEAST")
    elif row == "CONNECTICUT":
        states.append("NORTHEAST")
    elif row == "NEW YORK":
        states.append("NORTHEAST")
    elif row == "NEW JERSEY":
        states.append("NORTHEAST")
    elif row == "PENNSYLVANIA":
        states.append("NORTHEAST")
    elif row == "DELAWARE":
        states.append("SOUTH")
    elif row == "MARYLAND":
        states.append("SOUTH")
    elif row == "DISTRICT OF COLUMBIA":
        states.append("SOUTH")
    elif row == "VIRGINIA":
        states.append("SOUTH")
    elif row == "WEST VIRGINIA":
        states.append("SOUTH")
    elif row == "NORTH CAROLINA":
        states.append("SOUTH")
    elif row == "SOUTH CAROLINA":
        states.append("SOUTH")
    elif row == "GEORGIA":
        states.append("SOUTH")
    elif row == "FLORIDA":
        states.append("SOUTH")
    elif row == "ALABAMA":
        states.append("SOUTH")
    elif row == "TENNESSE":
        states.append("SOUTH")
    elif row == "KENTUCKY":
        states.append("SOUTH")
    elif row == "OHIO":
        states.append("MIDWEST")
    elif row == "MICHIGAN":
        states.append("MIDWEST")
    elif row == "INDIANA":
        states.append("MIDWEST")
    elif row == "MISSISSIPPI":
        states.append("SOUTH")
    elif row == "ILLINOIS":
        states.append("MIDWEST")
    elif row == "WISCONSIN":
        states.append("MIDWEST")
    elif row == "MINNESOTA":
        states.append("MIDWEST")
    elif row == "IOWA":
        states.append("MIDWEST")
    elif row == "MISSOURI":
        states.append("MIDWEST")
    elif row == "ARKANSAS":
        states.append("SOUTH")
    elif row == "LOUISIANA":
        states.append("SOUTH")
    elif row == "NORTH DAKOTA":
        states.append("MIDWEST")
    elif row == "SOUTH DAKOTA":
        states.append("MIDWEST")
    elif row == "NEBRASKA":
        states.append("MIDWEST")
    elif row == "KANSAS":
        states.append("MIDWEST")
    elif row == "OKLAHOMA":
        states.append("SOUTH")
    elif row == "TEXAS":
        states.append("SOUTH")
    elif row == "MONTANA":
        states.append("WEST")
    elif row == "WYOMING":
        states.append("WEST")
    elif row == "COLORADO":
        states.append("WEST")
    elif row == "NEW MEXICO":
        states.append("WEST")
    elif row == "IDAHO":
        states.append("WEST")
    elif row == "UTAH":
        states.append("WEST")
    elif row == "ARIZONA":
        states.append("WEST")
    elif row == "WASHINGTON":
        states.append("WEST")
    elif row == "OREGON":
        states.append("WEST")
    elif row == "NEVADA":
        states.append("WEST")
    elif row == "CALIFORNIA":
        states.append("WEST")
    elif row == "ALASKA":
        states.append("WEST")
    elif row == "HAWAII":
        states.append("WEST")
    elif row == "PUERTO RICO":
        states.append("OTHER")
    elif row == "TENNESSEE":
        states.append("SOUTH")
    elif row == "NORTHERN MARIANA ISLANDS":
        states.append("OTHER")
    elif row == "VIRGIN ISLANDS":
        states.append("OTHER")
    elif row == "GUAM":
        states.append("OTHER")
    else:
        states.append("UNKNOWN")
        
data5['EMPLOYER_REGIONS'] = states

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
data5['EMPLOYER_REGIONS'].value_counts()

WEST         3799
NORTHEAST    1557
SOUTH        1467
MIDWEST      1075
UNKNOWN         5
OTHER           1
Name: EMPLOYER_REGIONS, dtype: int64

In [17]:
data5.count()

CASE_STATUS                      7904
DECISION_ELAPSED_DAYS            7904
EMPLOYER_POSTAL_CODE             7904
EMPLOYER_STATE                   7904
EMPLOYER_NUM_EMPLOYEES           7904
WAGE_OFFER_FROM_9089             7904
COUNTRY_OF_CITIZENSHIP           7904
CLASS_OF_ADMISSION               7904
FOREIGN_WORKER_INFO_EDUCATION    7904
CASE_RECEIVED_DATE_MONTH         7904
EMPLOYER_STATES                  7904
EMPLOYER_REGIONS                 7904
dtype: int64

In [18]:
data5['DAY_BINS'] = pd.cut(x=data5['DECISION_ELAPSED_DAYS'], 
                             bins=[0, 90, 180, 365, 3600],
                           labels=['0-90', '91-180', '181-365', '366-3600'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
data5['DAY_BINS'].value_counts()

91-180      3397
0-90        2388
181-365     1452
366-3600     661
Name: DAY_BINS, dtype: int64

In [20]:
data5['WAGE_BINS'] = pd.cut(x=data5['WAGE_OFFER_FROM_9089'], 
                             bins=[0, 25000, 50000, 75000, 100000, 500000],
                           labels=['0-25000', '25001-50000', '50001-75000', '75001-100000', '100000-500000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
data5['WAGE_BINS'].value_counts()

100000-500000    5143
75001-100000     1620
50001-75000       867
25001-50000       225
0-25000            36
Name: WAGE_BINS, dtype: int64

In [22]:
data5['EMPLOYEE_BINS'] = pd.cut(x=data5['EMPLOYER_NUM_EMPLOYEES'], 
                             bins=[0, 50, 100, 500, 1000, 10000, 1000000000],
                           labels=['0-50', '51-100', '101-500', '501-1000', '1001-10000', '10001-1000000000'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data5['EMPLOYEE_BINS'].value_counts()

10001-1000000000    2973
1001-10000          1914
0-50                1135
101-500              987
501-1000             539
51-100               355
Name: EMPLOYEE_BINS, dtype: int64

In [24]:
data5.count()

CASE_STATUS                      7904
DECISION_ELAPSED_DAYS            7904
EMPLOYER_POSTAL_CODE             7904
EMPLOYER_STATE                   7904
EMPLOYER_NUM_EMPLOYEES           7904
WAGE_OFFER_FROM_9089             7904
COUNTRY_OF_CITIZENSHIP           7904
CLASS_OF_ADMISSION               7904
FOREIGN_WORKER_INFO_EDUCATION    7904
CASE_RECEIVED_DATE_MONTH         7904
EMPLOYER_STATES                  7904
EMPLOYER_REGIONS                 7904
DAY_BINS                         7898
WAGE_BINS                        7891
EMPLOYEE_BINS                    7903
dtype: int64

In [25]:
data6 = data5[[
    'CASE_STATUS',
    'EMPLOYEE_BINS',
    'WAGE_BINS',
    'EMPLOYER_REGIONS',
    'CASE_RECEIVED_DATE_MONTH',
    'FOREIGN_WORKER_INFO_EDUCATION',
    'CLASS_OF_ADMISSION',
    'DAY_BINS'
]]

In [26]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS
35,Certified,101-500,75001-100000,WEST,12.0,Associate's,TN,366-3600
56,Certified,0-50,100000-500000,MIDWEST,12.0,None,TN,366-3600
121,Certified,10001-1000000000,100000-500000,NORTHEAST,11.0,Master's,Not in USA,366-3600
132,Certified,0-50,75001-100000,NORTHEAST,9.0,Bachelor's,H-1B,366-3600
148,Certified,10001-1000000000,100000-500000,WEST,10.0,Associate's,L-1,366-3600

In [27]:
data6.dtypes

CASE_STATUS                        object
EMPLOYEE_BINS                    category
WAGE_BINS                        category
EMPLOYER_REGIONS                   object
CASE_RECEIVED_DATE_MONTH          float64
FOREIGN_WORKER_INFO_EDUCATION      object
CLASS_OF_ADMISSION                 object
DAY_BINS                         category
dtype: object

In [28]:
from sklearn.preprocessing import LabelEncoder
num_encode = LabelEncoder()

In [29]:
data6['CLASS_OF_ADMISSION_CODE'] = num_encode.fit_transform(data6['CLASS_OF_ADMISSION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data6['FOREIGN_WORKER_INFO_EDUCATION_CODE'] = num_encode.fit_transform(data6['FOREIGN_WORKER_INFO_EDUCATION'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
data6['WAGE_BINS'] = data6['WAGE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data6['WAGE_BINS_CODE'] = num_encode.fit_transform(data6['WAGE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
data6['EMPLOYER_REGIONS_CODE'] = num_encode.fit_transform(data6['EMPLOYER_REGIONS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
data6['DAY_BINS'] = data6['DAY_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
data6['DAY_BINS_CODE'] = num_encode.fit_transform(data6['DAY_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
data6['EMPLOYEE_BINS'] = data6['EMPLOYEE_BINS'].astype(str)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data6['EMPLOYEE_BINS_CODE'] = num_encode.fit_transform(data6['EMPLOYEE_BINS'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data6.head()

,CASE_STATUS,EMPLOYEE_BINS,WAGE_BINS,EMPLOYER_REGIONS,CASE_RECEIVED_DATE_MONTH,FOREIGN_WORKER_INFO_EDUCATION,CLASS_OF_ADMISSION,DAY_BINS,CLASS_OF_ADMISSION_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,WAGE_BINS_CODE,EMPLOYER_REGIONS_CODE,DAY_BINS_CODE,EMPLOYEE_BINS_CODE
35,Certified,101-500,75001-100000,WEST,12.0,Associate's,TN,366-3600,23,0,4,5,2,3
56,Certified,0-50,100000-500000,MIDWEST,12.0,None,TN,366-3600,23,5,1,0,2,0
121,Certified,10001-1000000000,100000-500000,NORTHEAST,11.0,Master's,Not in USA,366-3600,18,4,1,1,2,1
132,Certified,0-50,75001-100000,NORTHEAST,9.0,Bachelor's,H-1B,366-3600,10,1,4,1,2,0
148,Certified,10001-1000000000,100000-500000,WEST,10.0,Associate's,L-1,366-3600,16,0,1,5,2,1

In [39]:
# data7.to_excel('../Resources/ML2_Philippenes.xlsx', index = False)

In [40]:
data6.count()

CASE_STATUS                           7904
EMPLOYEE_BINS                         7904
WAGE_BINS                             7904
EMPLOYER_REGIONS                      7904
CASE_RECEIVED_DATE_MONTH              7904
FOREIGN_WORKER_INFO_EDUCATION         7904
CLASS_OF_ADMISSION                    7904
DAY_BINS                              7904
CLASS_OF_ADMISSION_CODE               7904
FOREIGN_WORKER_INFO_EDUCATION_CODE    7904
WAGE_BINS_CODE                        7904
EMPLOYER_REGIONS_CODE                 7904
DAY_BINS_CODE                         7904
EMPLOYEE_BINS_CODE                    7904
dtype: int64

In [41]:
data7 = data6[[
    'CASE_STATUS',
    'EMPLOYEE_BINS_CODE',
    'WAGE_BINS_CODE',
    'DAY_BINS_CODE',
    'FOREIGN_WORKER_INFO_EDUCATION_CODE',
    'CLASS_OF_ADMISSION_CODE',
    'CASE_RECEIVED_DATE_MONTH',
    'EMPLOYER_REGIONS_CODE'
]]

In [42]:
data7.head()

,CASE_STATUS,EMPLOYEE_BINS_CODE,WAGE_BINS_CODE,DAY_BINS_CODE,FOREIGN_WORKER_INFO_EDUCATION_CODE,CLASS_OF_ADMISSION_CODE,CASE_RECEIVED_DATE_MONTH,EMPLOYER_REGIONS_CODE
35,Certified,3,4,2,0,23,12.0,5
56,Certified,0,1,2,5,23,12.0,0
121,Certified,1,1,2,4,18,11.0,1
132,Certified,0,4,2,1,10,9.0,1
148,Certified,1,1,2,0,16,10.0,5

In [43]:
data7.dtypes

CASE_STATUS                            object
EMPLOYEE_BINS_CODE                      int64
WAGE_BINS_CODE                          int64
DAY_BINS_CODE                           int64
FOREIGN_WORKER_INFO_EDUCATION_CODE      int64
CLASS_OF_ADMISSION_CODE                 int64
CASE_RECEIVED_DATE_MONTH              float64
EMPLOYER_REGIONS_CODE                   int64
dtype: object

In [44]:
X = data7.drop("CASE_STATUS", axis=1)
y = data7["CASE_STATUS"]
print(X.shape, y.shape)

(7904, 7) (7904,)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=42, stratify=y)

In [47]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [49]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [50]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [51]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

WARNING:tensorflow:From /anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [52]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [54]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=200,
    shuffle=True,
    verbose=2
)

Epoch 1/200
 - 1s - loss: 0.1354 - acc: 0.9501
Epoch 2/200
 - 0s - loss: 0.1334 - acc: 0.9499
Epoch 3/200
 - 1s - loss: 0.1318 - acc: 0.9491
Epoch 4/200
 - 1s - loss: 0.1299 - acc: 0.9509
Epoch 5/200
 - 0s - loss: 0.1304 - acc: 0.9489
Epoch 6/200
 - 0s - loss: 0.1291 - acc: 0.9485
Epoch 7/200
 - 0s - loss: 0.1310 - acc: 0.9502
Epoch 8/200
 - 1s - loss: 0.1315 - acc: 0.9477
Epoch 9/200
 - 1s - loss: 0.1302 - acc: 0.9516
Epoch 10/200
 - 1s - loss: 0.1272 - acc: 0.9518
Epoch 11/200
 - 0s - loss: 0.1257 - acc: 0.9492
Epoch 12/200
 - 1s - loss: 0.1278 - acc: 0.9533
Epoch 13/200
 - 0s - loss: 0.1270 - acc: 0.9492
Epoch 14/200
 - 0s - loss: 0.1251 - acc: 0.9514
Epoch 15/200
 - 0s - loss: 0.1251 - acc: 0.9523
Epoch 16/200
 - 1s - loss: 0.1236 - acc: 0.9536
Epoch 17/200
 - 1s - loss: 0.1220 - acc: 0.9539
Epoch 18/200
 - 0s - loss: 0.1230 - acc: 0.9519
Epoch 19/200
 - 0s - loss: 0.1199 - acc: 0.9529
Epoch 20/200
 - 0s - loss: 0.1205 - acc: 0.9553
Epoch 21/200
 - 1s - loss: 0.1202 - acc: 0.9545
Epoch 22/200
 - 0s - loss: 0.1177 - acc: 0.9548
Epoch 23/200
 - 0s - loss: 0.1178 - acc: 0.9524
Epoch 24/200
 - 0s - loss: 0.1182 - acc: 0.9546
Epoch 25/200
 - 1s - loss: 0.1165 - acc: 0.9538
Epoch 26/200
 - 0s - loss: 0.1169 - acc: 0.9548
Epoch 27/200
 - 0s - loss: 0.1150 - acc: 0.9568
Epoch 28/200
 - 0s - loss: 0.1169 - acc: 0.9550
Epoch 29/200
 - 1s - loss: 0.1135 - acc: 0.9572
Epoch 30/200
 - 0s - loss: 0.1147 - acc: 0.9546
Epoch 31/200
 - 0s - loss: 0.1133 - acc: 0.9568
Epoch 32/200
 - 1s - loss: 0.1119 - acc: 0.9590
Epoch 33/200
 - 1s - loss: 0.1148 - acc: 0.9548
Epoch 34/200
 - 0s - loss: 0.1133 - acc: 0.9561
Epoch 35/200
 - 1s - loss: 0.1120 - acc: 0.9577
Epoch 36/200
 - 1s - loss: 0.1115 - acc: 0.9573
Epoch 37/200
 - 1s - loss: 0.1089 - acc: 0.9583
Epoch 38/200
 - 1s - loss: 0.1102 - acc: 0.9593
Epoch 39/200
 - 0s - loss: 0.1100 - acc: 0.9577
Epoch 40/200
 - 1s - loss: 0.1106 - acc: 0.9575
Epoch 41/200
 - 1s - loss: 0.1088 - acc: 0.9597
Epoch 42/200
 - 0s - loss: 0.1072 - acc: 0.9592
Epoch 43/200
 - 1s - loss: 0.1084 - acc: 0.9555
Epoch 44/200
 - 0s - loss: 0.1065 - acc: 0.9605
Epoch 45/200
 - 1s - loss: 0.1081 - acc: 0.9578
Epoch 46/200
 - 0s - loss: 0.1055 - acc: 0.9572
Epoch 47/200
 - 0s - loss: 0.1046 - acc: 0.9595
Epoch 48/200
 - 1s - loss: 0.1057 - acc: 0.9600
Epoch 49/200
 - 1s - loss: 0.1063 - acc: 0.9587
Epoch 50/200
 - 1s - loss: 0.1047 - acc: 0.9604
Epoch 51/200
 - 0s - loss: 0.1056 - acc: 0.9592
Epoch 52/200
 - 0s - loss: 0.1038 - acc: 0.9590
Epoch 53/200
 - 1s - loss: 0.1043 - acc: 0.9610
Epoch 54/200
 - 0s - loss: 0.1016 - acc: 0.9597
Epoch 55/200
 - 0s - loss: 0.1000 - acc: 0.9637
Epoch 56/200
 - 1s - loss: 0.1012 - acc: 0.9624
Epoch 57/200
 - 1s - loss: 0.1023 - acc: 0.9600
Epoch 58/200
 - 1s - loss: 0.0971 - acc: 0.9626
Epoch 59/200
 - 0s - loss: 0.1015 - acc: 0.9610
Epoch 60/200
 - 0s - loss: 0.0997 - acc: 0.9607
Epoch 61/200
 - 1s - loss: 0.0981 - acc: 0.9605
Epoch 62/200
 - 0s - loss: 0.0990 - acc: 0.9617
Epoch 63/200
 - 1s - loss: 0.0959 - acc: 0.9637
Epoch 64/200
 - 1s - loss: 0.0955 - acc: 0.9627
Epoch 65/200
 - 1s - loss: 0.0985 - acc: 0.9631
Epoch 66/200
 - 1s - loss: 0.0983 - acc: 0.9624
Epoch 67/200
 - 0s - loss: 0.0945 - acc: 0.9649
Epoch 68/200
 - 0s - loss: 0.0954 - acc: 0.9631
Epoch 69/200
 - 1s - loss: 0.0953 - acc: 0.9605
Epoch 70/200
 - 0s - loss: 0.0954 - acc: 0.9649
Epoch 71/200
 - 1s - loss: 0.0946 - acc: 0.9634
Epoch 72/200
 - 1s - loss: 0.0948 - acc: 0.9622
Epoch 73/200
 - 1s - loss: 0.0938 - acc: 0.9629
Epoch 74/200
 - 1s - loss: 0.0918 - acc: 0.9654
Epoch 75/200
 - 1s - loss: 0.0902 - acc: 0.9651
Epoch 76/200
 - 1s - loss: 0.0894 - acc: 0.9651
Epoch 77/200
 - 1s - loss: 0.0897 - acc: 0.9654
Epoch 78/200
 - 0s - loss: 0.0906 - acc: 0.9639
Epoch 79/200
 - 1s - loss: 0.0893 - acc: 0.9688
Epoch 80/200
 - 0s - loss: 0.0903 - acc: 0.9663
Epoch 81/200
 - 1s - loss: 0.0888 - acc: 0.9663
Epoch 82/200
 - 1s - loss: 0.0883 - acc: 0.9652
Epoch 83/200
 - 0s - loss: 0.0869 - acc: 0.9659
Epoch 84/200
 - 1s - loss: 0.0895 - acc: 0.9646
Epoch 85/200
 - 1s - loss: 0.0875 - acc: 0.9679
Epoch 86/200
 - 1s - loss: 0.0877 - acc: 0.9671
Epoch 87/200
 - 1s - loss: 0.0873 - acc: 0.9647
Epoch 88/200
 - 1s - loss: 0.0864 - acc: 0.9659
Epoch 89/200
 - 1s - loss: 0.0872 - acc: 0.9651
Epoch 90/200
 - 1s - loss: 0.0861 - acc: 0.9654
Epoch 91/200
 - 1s - loss: 0.0835 - acc: 0.9674
Epoch 92/200
 - 1s - loss: 0.0850 - acc: 0.9683
Epoch 93/200
 - 1s - loss: 0.0844 - acc: 0.9659
Epoch 94/200
 - 1s - loss: 0.0824 - acc: 0.9676
Epoch 95/200
 - 1s - loss: 0.0834 - acc: 0.9683
Epoch 96/200
 - 1s - loss: 0.0832 - acc: 0.9681
Epoch 97/200
 - 1s - loss: 0.0855 - acc: 0.9649
Epoch 98/200
 - 1s - loss: 0.0823 - acc: 0.9685
Epoch 99/200
 - 1s - loss: 0.0836 - acc: 0.9649
Epoch 100/200
 - 1s - loss: 0.0840 - acc: 0.9658
Epoch 101/200
 - 1s - loss: 0.0815 - acc: 0.9676
Epoch 102/200
 - 1s - loss: 0.0800 - acc: 0.9688
Epoch 103/200
 - 1s - loss: 0.0810 - acc: 0.9698
Epoch 104/200
 - 1s - loss: 0.0812 - acc: 0.9678
Epoch 105/200
 - 1s - loss: 0.0790 - acc: 0.9693
Epoch 106/200
 - 1s - loss: 0.0786 - acc: 0.9701
Epoch 107/200
 - 1s - loss: 0.0768 - acc: 0.9706
Epoch 108/200
 - 1s - loss: 0.0775 - acc: 0.9695
Epoch 109/200
 - 1s - loss: 0.0761 - acc: 0.9701
Epoch 110/200
 - 1s - loss: 0.0781 - acc: 0.9710
Epoch 111/200
 - 1s - loss: 0.0771 - acc: 0.9693
Epoch 112/200
 - 1s - loss: 0.0756 - acc: 0.9717
Epoch 113/200
 - 1s - loss: 0.0751 - acc: 0.9715
Epoch 114/200
 - 1s - loss: 0.0742 - acc: 0.9733
Epoch 115/200
 - 1s - loss: 0.0778 - acc: 0.9713
Epoch 116/200
 - 1s - loss: 0.0757 - acc: 0.9713
Epoch 117/200
 - 1s - loss: 0.0755 - acc: 0.9708
Epoch 118/200
 - 1s - loss: 0.0742 - acc: 0.9733
Epoch 119/200
 - 1s - loss: 0.0759 - acc: 0.9715
Epoch 120/200
 - 1s - loss: 0.0749 - acc: 0.9722
Epoch 121/200
 - 1s - loss: 0.0733 - acc: 0.9701
Epoch 122/200
 - 1s - loss: 0.0732 - acc: 0.9725
Epoch 123/200
 - 1s - loss: 0.0739 - acc: 0.9725
Epoch 124/200
 - 1s - loss: 0.0743 - acc: 0.9722
Epoch 125/200
 - 1s - loss: 0.0688 - acc: 0.9739
Epoch 126/200
 - 1s - loss: 0.0708 - acc: 0.9735
Epoch 127/200
 - 0s - loss: 0.0715 - acc: 0.9733
Epoch 128/200
 - 0s - loss: 0.0716 - acc: 0.9739
Epoch 129/200
 - 1s - loss: 0.0689 - acc: 0.9742
Epoch 130/200
 - 0s - loss: 0.0716 - acc: 0.9739
Epoch 131/200
 - 1s - loss: 0.0690 - acc: 0.9713
Epoch 132/200
 - 1s - loss: 0.0707 - acc: 0.9747
Epoch 133/200
 - 1s - loss: 0.0684 - acc: 0.9764
Epoch 134/200
 - 1s - loss: 0.0687 - acc: 0.9739
Epoch 135/200
 - 1s - loss: 0.0700 - acc: 0.9739
Epoch 136/200
 - 1s - loss: 0.0701 - acc: 0.9727
Epoch 137/200
 - 1s - loss: 0.0691 - acc: 0.9735
Epoch 138/200
 - 1s - loss: 0.0680 - acc: 0.9739
Epoch 139/200
 - 1s - loss: 0.0701 - acc: 0.9727
Epoch 140/200
 - 1s - loss: 0.0713 - acc: 0.9739
Epoch 141/200
 - 1s - loss: 0.0672 - acc: 0.9755
Epoch 142/200
 - 1s - loss: 0.0672 - acc: 0.9762
Epoch 143/200
 - 1s - loss: 0.0651 - acc: 0.9766
Epoch 144/200
 - 1s - loss: 0.0680 - acc: 0.9730
Epoch 145/200
 - 1s - loss: 0.0681 - acc: 0.9749
Epoch 146/200
 - 1s - loss: 0.0664 - acc: 0.9750
Epoch 147/200
 - 1s - loss: 0.0644 - acc: 0.9747
Epoch 148/200
 - 1s - loss: 0.0653 - acc: 0.9752
Epoch 149/200
 - 1s - loss: 0.0648 - acc: 0.9764
Epoch 150/200
 - 1s - loss: 0.0601 - acc: 0.9779
Epoch 151/200
 - 1s - loss: 0.0656 - acc: 0.9762
Epoch 152/200
 - 1s - loss: 0.0639 - acc: 0.9760
Epoch 153/200
 - 1s - loss: 0.0621 - acc: 0.9774
Epoch 154/200
 - 1s - loss: 0.0648 - acc: 0.9754
Epoch 155/200
 - 1s - loss: 0.0648 - acc: 0.9752
Epoch 156/200
 - 1s - loss: 0.0621 - acc: 0.9771
Epoch 157/200
 - 0s - loss: 0.0630 - acc: 0.9755
Epoch 158/200
 - 1s - loss: 0.0596 - acc: 0.9777
Epoch 159/200
 - 1s - loss: 0.0624 - acc: 0.9767
Epoch 160/200
 - 0s - loss: 0.0652 - acc: 0.9737
Epoch 161/200
 - 1s - loss: 0.0643 - acc: 0.9760
Epoch 162/200
 - 1s - loss: 0.0634 - acc: 0.9766
Epoch 163/200
 - 1s - loss: 0.0591 - acc: 0.9769
Epoch 164/200
 - 1s - loss: 0.0620 - acc: 0.9777
Epoch 165/200
 - 1s - loss: 0.0594 - acc: 0.9777
Epoch 166/200
 - 0s - loss: 0.0615 - acc: 0.9759
Epoch 167/200
 - 1s - loss: 0.0621 - acc: 0.9755
Epoch 168/200
 - 1s - loss: 0.0598 - acc: 0.9781
Epoch 169/200
 - 1s - loss: 0.0603 - acc: 0.9764
Epoch 170/200
 - 1s - loss: 0.0606 - acc: 0.9764

Epoch 171/200
 - 1s - loss: 0.0588 - acc: 0.9798
Epoch 172/200
 - 1s - loss: 0.0586 - acc: 0.9779
Epoch 173/200
 - 1s - loss: 0.0594 - acc: 0.9776
Epoch 174/200
 - 1s - loss: 0.0564 - acc: 0.9789
Epoch 175/200
 - 1s - loss: 0.0580 - acc: 0.9782
Epoch 176/200
 - 1s - loss: 0.0587 - acc: 0.9779
Epoch 177/200
 - 1s - loss: 0.0585 - acc: 0.9774
Epoch 178/200
 - 1s - loss: 0.0624 - acc: 0.9745
Epoch 179/200
 - 1s - loss: 0.0618 - acc: 0.9755
Epoch 180/200
 - 1s - loss: 0.0568 - acc: 0.9793
Epoch 181/200
 - 1s - loss: 0.0578 - acc: 0.9791
Epoch 182/200
 - 1s - loss: 0.0555 - acc: 0.9801
Epoch 183/200
 - 0s - loss: 0.0576 - acc: 0.9784
Epoch 184/200
 - 1s - loss: 0.0565 - acc: 0.9793
Epoch 185/200
 - 1s - loss: 0.0549 - acc: 0.9799
Epoch 186/200
 - 1s - loss: 0.0552 - acc: 0.9779
Epoch 187/200
 - 1s - loss: 0.0600 - acc: 0.9784
Epoch 188/200
 - 1s - loss: 0.0564 - acc: 0.9794
Epoch 189/200
 - 1s - loss: 0.0557 - acc: 0.9786
Epoch 190/200
 - 0s - loss: 0.0571 - acc: 0.9796
Epoch 191/200
 - 0s - loss: 0.0543 - acc: 0.9799
Epoch 192/200
 - 0s - loss: 0.0578 - acc: 0.9771
Epoch 193/200
 - 1s - loss: 0.0553 - acc: 0.9798
Epoch 194/200
 - 1s - loss: 0.0555 - acc: 0.9793
Epoch 195/200
 - 1s - loss: 0.0561 - acc: 0.9791
Epoch 196/200
 - 1s - loss: 0.0548 - acc: 0.9789
Epoch 197/200
 - 1s - loss: 0.0652 - acc: 0.9762
Epoch 198/200
 - 1s - loss: 0.0528 - acc: 0.9804
Epoch 199/200
 - 1s - loss: 0.0542 - acc: 0.9798
Epoch 200/200
 - 1s - loss: 0.0522 - acc: 0.9799

In [55]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 0.3327 - acc: 0.9104
Normal Neural Network - Loss: 0.33266267114081366, Accuracy: 0.9104251265525818

In [56]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [57]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Certified' 'Certified' 'Certified' 'Certified' 'Certified' 'Certified'
 'Certified' 'Certified' 'Certified' 'Certified']
Actual Labels: ['Certified', 'Certified', 'Certified', 'Denied', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified', 'Certified']